.affirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 75vh;

  .affirmation {
    padding: 0 3px;
    font-size: 10vh;
    text-align: center;
    margin: 0;
    height: 55vh;
  }

  .next-button {
    border: none;
    border-radius: 10px;
    background-color: #FEFCFD;
    height: 40px;
    width: 100px;
    transition-duration: 0.4s;
    margin-top: 20px;
  }
  
  .next-button:hover {
    background-color: #EAC6BA;
  }
}
